body{
  background-color: #C9D5D5;
}

input.ng-invalid{
  background-color: #E06666;
}

.image{
  height: 90px;
  width: 110px;
}
.weapon .name .damage {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}
