doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
        .row#quickWeapons
          h5 Test Weapons
          button.btn.btn-primary(ng-click='createBatleth()') Bat'leth
          button.btn.btn-primary(ng-click='createDTahg()') D'Tahg
          button.btn.btn-primary(ng-click='createLightSaber()') Lightsaber
        .row#quickPets
          h5 Test Pets
          button.btn.btn-primary(ng-click='createTribble()') Tribble
          button.btn.btn-primary(ng-click='createSloth()') Fancy Sloth
      .row
        .col-xs-2
        .col-xs-8
          .jumbotron
            .row#cage(ng-show='player1 && player2')
              h2 Welcome to Thunderdome!
              .row
                .col-xs-1
                .col-xs-4
                  #player1(ng-show='player1')
                    h3 Player One
                    .pet(style='background-image:url("{{player1.photo}}")')
                      .name Name: {{player1.name}}
                      .con Constitution: {{player1.con}}
                      .weapon Weapon: {{player1.weapon.name}}
                      .conMeter(ng-style='conMeter(player1/con)')
                      .zombie(ng-show='player1.isZombie')
                        h4 Undead
                .col-xs-1
                  #fight: button.btn.btn-danger(ng-click='fight()') FIGHT
                .col-xs-5
                  #player2(ng-show='player2')
                    h3 Player Two
                    .pet(style='background-image:url("{{player2.photo}}")')
                      .name Name: {{player2.name}}
                      .con Constitution: {{player2.con}}
                      .weapon Weapon: {{player2.weapon.name}}
                      .conMeter(ng-style='conMeter(player2/con)')
                      .zombie(ng-show='player2.isZombie')
                        h4 Undead
                      .center
                        .conbar(style='background-color: green; width: {{player1.con}}%; height: 20px')
      .row
        .col-xs-3
          h4 Create Weapon
          button.btn.btn-success(ng-click='toggleWeapon()') Toggle Weapon Form
          form(role='form', name='weaponForm', novalidate, ng-hide='hideWeapon')
            .form-group
              label(for='name') Name
              input.form-control#name(required, ng-model='weapon.name', ng-minlength='2', ng-maxlength='15', type='text', name='name', autofocus)
            .form-group
              label(for='photo') Photo
              input.form-control#photo(required, ng-model='weapon.photo', ng-pattern='/^http/', type='text', name='photo')
            .form-group
              label(for='dmg') Hit Points
              input.form-control#dmg(required, ng-model='weapon.dmg', type='number', name='dmg')
            button.btn.btn-primary(type='submit', ng-show='weaponForm.$valid', ng-click='addWeapon()') Add Weapon
        .col-xs-6
      .row
        .col-xs-3
          h4 Create Pet
          button.btn.btn-success(ng-click='togglePet()') Toggle Pet Form
          form(role='form', name='petForm', novalidate, ng-hide='hidePet')
            .form-group
              label(for='name') Name
              input.form-control#petName(ng-model='pet.name', ng-minlength='2', ng-maxlength='15', type='text', name='name')
            .form-group
              label(for='photo') Photo
              input.form-control#petPhoto(ng-model='pet.photo', ng-pattern='/^http/', type='text', name='photo')
            .form-group
              label Constitution
              input.form-control(type='number', readonly, ng-model='pet.con')
            .form-group
              label(for='weapon') Add Weapon
                select#weapon(name='weapon', ng-model='pet.weapon')
                  option(ng-repeat='w in weapons', value='{{$index}}') {{w.name}}
            button.btn.btn-primary(type='submit', ng-show='petForm.$valid', ng-click='addPet()') Add Pet
        .col-xs-6

      .row
        .col-xs-12
          h3 Pets
          .pet(ng-repeat='p in pets')
            .image(style='background-image:url("{{p.photo}}");')
            .details
              h6 Name: {{p.name}}
              h6 Constitution: {{p.con}}
              h6 Weapon: {{p.weapon.name}}
              .conMeter(ng-style='conMeter(p.con)')
              .zombie(ng-show='p.isZombie')
                h5 Undead
              button.btn.btn-xs.btn-primary.pull-lefti(ng-click='setPlayer(1)') 1
              button.btn.btn-xs.btn-primary.pull-right(ng-click='setPlayer(2)') 2
      .row
        .col-xs-12
          h3 Weapons
          .weapon(ng-repeat='w in weapons')
            .image(style='background-image:url("{{w.photo}}");')
            .details
              h6 Name: {{w.name}}
              h6 Hit Points: {{w.dmg}}
      .row
        .col-xs-6
          hr
          h2 ------WEAPONS------
          pre {{weapon | json}}
          pre {{weapons | json}}
          hr
          h2 ------PETS------
          pre {{pet | json}}
          pre {{pets | json}}
          hr
          h2 ------PLAYERS-------
          pre {{player1 | json}}
          pre {{player2 | json}}

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')

